# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env*
venv/
ENV/
.envrc

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

# Coverage
.coverage
htmlcov/

# Test
.tox/

# Build
build/
dist/
*.egg-info/
